# Composer
/vendor/

# Environment files
.env
.env.*

# Logs & cache
*.log
cache/
tmp/

# PHPUnit
.phpunit.result.cache
/phpunit.xml

# IDEs
/.idea/
/.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Unprocessed Assets
/assets/unprocessed/
